<div>
    <md-nav-bar class="navbar  navbar-expand-md">
      <md-nav-item class="navbar-brand" routerLink="/" na0me="name">JOHN DOE</md-nav-item>
      <md-nav-item class="nav-item nav-link ml-auto float-right" routerLink="/" name="home">Home</md-nav-item>
      <md-nav-item class="nav-item nav-link float-right" routerLink="/resume" name="Resume">Resume</md-nav-item>
      <md-nav-item class="nav-item nav-link float-right"  routerLink="/projects" name="Projects">Projects</md-nav-item>
    </md-nav-bar>
</div>