
<div class="home">
    
    <div class="avatar">
        <img src="assets/naruto_profile.png" class="myimg">
    </div>
  
  <h1>Naruto Uzumaki</h1>
  <h2>Ninja</h2>
  
<div class="button-row">
    <div class="example-flex-container">
    <div class="example-button-container">
    <button class="btn   fa fa-github fa-2x" href="mailto:ugurcansari93@gmail.com" aria-label="Github"></button>
</div>
<div class="example-button-container">  
    <button class="btn fa fa-linkedin  fa-2x" href="mailto:ugurcansari93@gmail.com" aria-label="Linkedin"></button>
</div>
<div class="example-button-container">
    <button class="btn   fa fa-envelope  fa-2x" href="mailto:ugurcansari93@gmail.com" aria-label="Email"></button>
</div>
</div>

