
.home{
    width: 100%;

    display:inline-block;
    text-align: center;
}
h1{
  font-size: 2.0rem;
}
h2{
  font-size: 1.5rem;
}
.button-row{
    display: inline;
}
.example-flex-container {
    display: flex;
    justify-content: center;
  }
.example-button-container {
    display: flex;
    margin:0 6px;
    justify-content: center;
  }

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 4px 0px;
    border-radius: 100%;
    text-align: center;
}
.btn:hover, a:active{
  color: orange;
  border:none;
  border: none;
  outline:none;
}
.btn:focus-visible {
  border: none;
  outline:none;
}
.btn:focus {

  border: none;
  box-shadow:none;
}
.btn{
  color:lightgrey;
  transition: none;
}
.avatar{
  height:750px;
  width:auto;
  position: relative;
  overflow: hidden;
  margin-bottom: -100px;
}
.myimg{
  width:220px;
  height:360px;
  object-fit:cover;
  border-radius:50%;
  margin-top:250px;
}